@keyframes MoveUpDown 
	0%, 100% 
		transform: translateY(0) 
	50% 
		transform: translateY(-32px) 

// Definisi Keyframes
@keyframes fadeIn
	from
		opacity: 0
		transform: translateY(10px)
	to
		opacity: 1
		transform: translateY(0)

// Class Selector
.animate-fade-in
	animation: fadeIn 0.4s ease-in forwards

@keyframes networkFlow
	from
		stroke-dashoffset: 100
	to
		stroke-dashoffset: 0

.animate-network-line
	path
		// stroke-dasharray: 8, 12 // Ukuran garis putus-putus
		stroke-dasharray: 8, 12
		animation: networkFlow 3s linear infinite
		stroke-linecap: round
		filter: drop-shadow(0 0 4px rgb(255, 183, 0))
